/* GENERAL STYLE ============================================================================================================= */
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
 }

body {
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
  margin: 0;
}

/* NAV BAR -----------------------------------------------------------*/
nav {
  background: linear-gradient(to bottom right, rgba(0,0,0,0.7),rgba(0,0,0,0.2));
  height: 8vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* margin-bottom: 702px; */
}

nav a{
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.7vh;
  list-style: none;
  display: inline-block;
  margin-right: 1vh;
  margin-left: 1vh;
  background-color: rgba(0,0,0,0);
  transition: 0.2s;
}

nav a:hover{
  /* margin-left: 1vh; */
  padding: 0.2% 2% 0.2% 2%;
  /* width: 10%; */
  /* height: 0%; */
  background-color: rgb(172 49 255 / 43%);
  border-radius: 15px;
  transition: 0.2s;
  /* margin-right: 1vh; */
}


/* Search bar --------------------------------- */

form {
  width: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:rgba(0,0,0,0);
  height: 30%;
  border-radius: 15px;
  transition: 0.2s;
}

form:hover {
  width: 17%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:white;
  height: 30%;
  border-radius: 10px;
  transition: 0.2s;
}

form input {
  color: transparent;
  margin: 2%;
  width: 100%;
  height: 85%;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0)
}

form input:focus {
  color: black;
  margin: 3%;
  width: 20vw;
  height: 88%;
  border-radius: 15px;
  background-color: #fff;
  outline: none;
}

form input:focus form {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:white;
  height: 30%;
  border-radius: 15px;
  transition: 0.2s;
}

form:hover form input {
  color: black;
  margin: 3%;
  width: 20vw;
  height: 88%;
  border-radius: 15px;
  background-color: #fff;
  outline: none;
}

#search-max{
  color: transparent;
  margin: 2%;
  width: 100%;
  height: 85%;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0)
}
#search-max:focus{
  text-align: center;
  color: white;
  margin: 3%;
  width: 20vw;
  height: 88%;
  border-radius: 15px;
  background-color: rgb(120, 120, 120);
  outline: none;
}
#search-max:focus form{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:white;
  height: 30%;
  border-radius: 15px;
  transition: 0.2s;
}
#search-max:focus form input{
  color: black;
  margin: 3%;
  width: 20vw;
  height: 88%;
  border-radius: 15px;
  background-color: #fff;
  outline: none;
}

form:hover #search-max{
  text-align: center;
  color: white;
  margin: 3%;
  width: 20vw;
  height: 88%;
  border-radius: 15px;
  background-color: rgb(120, 120, 120);
  outline: none;
}

#search-icon{
  background-color: transparent;
  border: none;
  outline: none;
 color:white ;
}

form:hover #search-icon{
  color:black ;
 }

header {
  width: 100%;
  height: 100vh;
}

/* Panels -------------------- */
.container-row{
  margin: 0 auto;
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-column{
  margin: 0 auto;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dynamic-panel-row{
  margin: 3%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
   rgb(20 0 255 / 63%),
   rgb(146 26 165 / 87%));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease;
}

.dynamic-panel-row:hover{
  margin: 12px;
  background: linear-gradient( to bottom right,
  rgba(21, 0, 255, 0.89),rgba(146, 26, 165, 0.89));

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease;
}

.dynamic-panel-row a{
  display: none;
}

.dynamic-panel-row:hover a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  text-decoration: none;
  color: #f0f0f0;
}

/* INDEX ===================================================================================================================== */

.bg-index{
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.7), rgba(0,0,0,0.5)),
    url(https://i.ibb.co/VjK9LPK/bg-test4.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popular-movies a:hover #popular-search-bar {
  width: 10%;
  margin: 2% 3% 1%;
  transition: 0.2s;
  background-color:#fff;
}

#popular-search-bar:focus #popular-movies{
  height: 100%;
  width: 60%;
  background: linear-gradient( to bottom right,
  rgba(0,0,0,0.7),rgba(0,0,0,0.5)),
  url(https://i.ibb.co/3vDJGR8/popular-cover.jpg);
  background-size: cover;
  transition: 0.25s ease;
}

#popular-search-bar{
  height: 7%;
  transition: 0.2s;
}
#popular-search-bar:hover{
  width: 3%;
  border-radius: 15px;
  margin: 2% 3% 1%;
  transition: 0.2s;
}

#popular-movies{
  background:url(https://i.ibb.co/3vDJGR8/popular-cover.jpg);
  background-size: cover;
  transition: filter 0 0s;
  transition: background 1 0.25s;
}

#popular-movies:hover{
  height: 100%;
  width: 60%;
  background: linear-gradient( to bottom right,
  rgba(0,0,0,0.7),rgba(0,0,0,0.5)),
  url(https://i.ibb.co/3vDJGR8/popular-cover.jpg);
  background-size: cover;
  transition: 0.25s ease;
}

#my-groups{
  background:url(https://i.ibb.co/X8HzkQ4/MyGroups.jpg);
  background-size: cover;
  transition: filter 0 0s;
  transition: background 1 0.25s;
}

#my-groups:hover{
  height: 100%;
  width: 60%;
  background: linear-gradient( to bottom right,
  rgba(0,0,0,0.7),rgba(0,0,0,0.5)),
  url(https://i.ibb.co/X8HzkQ4/MyGroups.jpg);
  background-size: cover;
  transition: 0.25s ease;
}

#column-text{
  display: inline-block;
  filter:none;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
