<div class="bg-index">
    <div class="container-row">
        <div class="dynamic-panel-row" id="popular-movies">
            
            <a>Popular
                <form action = "/popular" class="dynamic-form" id="popular-search-bar" >
                    <input type = "number" name = "max" min="0" max="250"></input>
                </form>
            </a>
        </div>
        <div class="dynamic-panel-row" id="my-groups">
            <a href="/groups" >My groups</a>
        </div>
    </div>
</div>