    <header>
        <div class="bg">
            <div class="container">
                <div class="panel" id="popular-movies">
                    <a href="">Popular</a>
                </div>
                <div class="panel">
                    <a href="">Dashboard</a>
                </div>
            </div>
        </div>
    </header> 
    <footer></footer>
