<!DOCTYPE html>
<link rel="stylesheet"  href="../css//home.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{{title}}</title>
    <link rel="icon" type="image/icon" href="../resources/Cover.png">
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css">
</head>
<body>
    <!-- Nav bar -->
    <nav>
        <ul>
            <li><a href="">Start</a></li>
            <li><a href="">Index</a></li>
            <li> <i class="fa-solid fa-magnifying-glass"></i> </li>   
        </ul>
    </nav>
    <!-- Page content -->
    <header>
        {{{body}}}
    </header> 
    <footer></footer>
</body>
</html>