<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> {{title}} </title>
    <link rel="stylesheet"  href="/site.css">
    <link rel="icon" type="image/icon" href="../resources/Cover.png">
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css">
    {{#if scripts}}
    {{#each scripts}}
        <script type="text/javascript" src = "../scripts/{{this}}"></script>
    {{/each}}
    {{/if}}
</head>
<body>
    <!-- Nav bar -->
    <nav>
        <a type="url" href="/"> Start </a> </li>
        <a href=""> About </a> </li>
        <form action ="/search" class="dynamic-form">
            <button class="fa-solid fa-magnifying-glass" id = "search-icon"></button>
            <input type="text" name="movieName" id="search-bar" required >
            <input type ="number" min = 0 max="250" value="250" id = "search-max">
        </form>
        <div class="login-nav">
            {{#if user}}
                    <form action="\logout" method="post" style="color:white; font-size:1.1em;padding:1%;"><button type="submit"stye="background-color:transparent;">Logout</button></form>
            {{else}}
                <a href="\login">Login</a>
                <a href="\signup">Sign-up</a>
            {{/if}}
        </div>     
    </nav>
    <!-- Page content -->
    <header>
        {{{body}}}
    </header> 
    <!----<footer> Hello</footer>--->
</body>
</html>