<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title> {{title}} </title>
    <link rel="stylesheet"  href="/site.css">
    <link rel="icon" type="image/icon" href="../resources/Cover.png">
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css">
</head>
<body>
    <!-- Nav bar -->
    <nav>
        <a href=""> Start </a> </li>
        <a href=""> Index </a> </li>
        <form action ="/search">
            <button class="fa-solid fa-magnifying-glass" id = "search-icon"></button>
            <input type="text" name="movieName" id="search-bar" >
            <input type ="number" min = 0 max="250" value="250" id = "search-max">
        </form>     
    </nav>
    <!-- Page content -->
    <header>
        {{{body}}}
    </header> 
    <footer></footer>
</body>
</html>