<div class = "fixed-bg">
    <img src = "https://i.ibb.co/VjK9LPK/bg-test4.jpg">
</div>
<div style= "height: 100%;
             display:flex;
             align-content: center;
             justify-content: center;
             align-items: center;
             flex-direction: column;">
    <h1 style="color:white;font-size:5em;text-align:center"> 401 - NOT AUTHENTICATED</h1>       
</div>
