<div class="fixed-bg">
  <img src="https://i.ibb.co/tQ5cxPh/wallpaperflare-com-wallpaper-1.jpg" />
</div>
<div class="groups-container">
      <form action="/login" method="post" class="login-panel" >
            <label for="textUsername" class="popular-search">Username:</label>
            <input type="text" id="textUsername" name="username" required/>
            <label for="password" class="popular-search">Password:</label>
            <input type="password" id="password" name="password" required/>
            <input type="checkbox" id="showPass" />
            <label for="showPass" class="popular-search">Show Password</label>
            <input type="submit" value="Submit" />
      </form>
</div>
